name: Push Zigbee2MQTT to Main Add-Ons Suite
on:
  push:
    branches: master

jobs:
  push-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        zb: [zb01, zb02, zb03, zb04, zb05, zb06, zb07, zb08, zb09, zb10, zigbee2mqtt-edge, zigbee2mqtt-proxy, common]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push ${{ matrix.zb }}
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: "${{ matrix.zb }}/"
          destination_repo: 'racksync/hass-addons-suite'
          destination_folder: 'multipoint-zigbee/'
          user_email: 'devops@racksync.com'
          user_name: 'racksync'
          commit_message: '${{ matrix.zb }} has been updated from legacy codebase'
